{% extends 'base.html.twig' %}

{% block title %}CONNEXION
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}

	{# ///////////////////////// #}
	<section class="bg-gray-50 dark:bg-gray-900">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
				<img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
				Farine export
			</a>
			<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
						Connexion a votre compte
					</h1>
					<div class="ml-3 ">
						{% if error %}
                        {# {% if error.messageData == 'Invalid credentials' %}
                            <div class="bg-red-400 text-lg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %} #}
							<div class="bg-red-400 text-lg">VEUILLEZ VERIFIER VOTRE SAISIE</div>
						{% endif %}
					</div>
					<form class="space-y-4 md:space-y-6" method="post" action="#">
						<br/>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NOM D'UTILISATEUR</label>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="username" required autofocus>

						</div>
						<div>
							<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">MOT DE PASSE</label>
							<input type="password" name="password" id="inputPassword" class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="current-password" required>
						</div>
						
						<button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">CONNEXION</button>
						
					</form>
				</div>
			</div>
		</div>
	</section>


	{# /////////////////////// #}
{#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

	{# <button class="btn btn-lg btn-primary" type="submit">
	        CONNEXION
	    </button>
	    </div>
	    </center #}
</form>{% endblock %}
