{% extends 'template.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>CREER UN NOUVELLE UTILISATEUR</h1>
    <a href="{{ path('produit_liste') }}">REVENIR EN ARRIERE</a>
    {{ include('produit/_form.html.twig') }}

    
{% endblock %}
